*{
    color: #879184;
    color: #abc0a4;
    color: #cce0c5;
    color: #f5e4b4;
    color: black;
    margin: 0;
}
body{
    font-family: 'Bellefair', serif;
    font-weight: lighter;
}
body p{
    font-family: 'Xanh Mono', monospace;
    font-weight: lighter;
}
/* Navbar */
.navbar{
    padding: 0;
    width: 30%;
    margin: 0;
    padding-top: 10px;
    border: 0;
}

.header_links{
    list-style: none;
    padding-top: 10px;
}
.header_links ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header_links li{
    float: left;
}
.header_links li p{
    display: block;
    padding: 3px;
    font-size: 20px;
}
.header_links li a{
    display: block;
    padding: 3px;
    text-decoration:none;
    color: black;
    font-size: 20px;
}

/* Footer */

.footer{
    background-color: #879184;
    color: white;
    height: 150px;
}
.footer h1{
    color: white;
    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
    font-weight: lighter;
}
.footer p{
    position: absolute;
    color: white;
    font-size: 18px;
}
.email-text{
    position: absolute;
    margin-left: 250px;
    margin-top: 60px;
}
.email{
    position: absolute;
    width: 100px;
    margin-left: 450px;
    margin-top: 20px;
}
.github-text{
    position: absolute;
    margin-left: 650px;
    margin-top: 60px;
}
.github{
    position: absolute;
    width: 100px;
    margin-left: 750px;
    margin-top: 20px;
}
.linkedin-text{
    position: absolute;
    margin-left: 950px;
    margin-top: 60px;
}

.linkedin{
    position: absolute;
    width: 100px;
    margin-left: 1050px;
    margin-top: 20px;
}