#section3{
    height: 50vh;
    background-color: #879184;
    margin: -10px;

}

#search-bar{
    background-color: white;
    border: none;
    padding: 10px;
    width: 170px;
    margin-top: 300px;
    margin-left: 37%;
    position: absolute;
}

#search-btn{
    background-color: #9fac9c;
    border: none;
    padding: 10px;
    width: 150px;
    margin-top: 300px;
    margin-left: 52%;
    position: absolute;
    color: white;
    font-family: 'PT Serif', serif;
}

.weer-applicatie{
    position: absolute;
    width: 40%;
    margin-top: 80px;
}
#weather-img{
    position: absolute;
    width: 150px;
    margin-left: 43%;
    margin-top: 100px;
}
#temperature{
    color: white;
    font-size: 20px;
    text-align: right;
    font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;
}
#condition{
    color: white;
    font-size: 20px;
    text-align: right;
    font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;
}
#location{
    color: white;
    font-size: 36px;
    text-align: right;
    font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;
}
.day-applicatie{
    position: absolute;
    width: 40%;
    margin-left: 800px;
    margin-top: 80px;
}
#clock{
    color: white;
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;
}

#date{
    color: white;
    font-size: 20px;
    width: 150px;
    font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;
}

#timeOfDay{
    color: white;
    font-size: 36px;
    width: 100px;
    font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;
}