#section1{
    height: 90vh;
}

.section1-title{
    margin-top: 80px;
    text-align: right;
    margin-right: 35px;
    font-size: 36px;
    font-weight: bolder;
}

.section1-text{
    width: 40%;
    height: 500px;
    margin-left: 750px;
    margin-top: 80px;
    font-size: 20px;
}

.section1-img1{
    width: 500px;
    height: 700px;
    margin-left: 100px;
    margin-top: -600px;
    position: absolute;
    background-color: #879184;
}

