#section5{
    height: 110vh;
}

.section5-title{
    margin-top: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
}

.name-title{
    margin-left: 80px;
    margin-top: 20px;
    width: 500px;
    font-size: 20px;
    letter-spacing: 2px;
}

.name-txt{
    background-color: #9fac9c;
    border: none;
    height: 30px;
    width: 1200px;
    margin-left: 80px;
    margin-top: 20px;
}

.email-title{
    margin-left: 80px;
    margin-top: 30px;
    width: 500px;
    font-size: 20px;
    letter-spacing: 2px;
}

.email-txt{
    background-color: #9fac9c;
    border: none;
    height: 30px;
    width: 1200px;
    margin-left: 80px;
    margin-top: 20px;
}

.comment-title{
    margin-left: 80px;
    margin-top: 30px;
    width: 500px;
    font-size: 20px;
    letter-spacing: 2px;
}

.comment-txt{
    background-color: #9fac9c;
    border: none;
    height: 80px;
    width: 1200px;
    margin-left: 80px;
    margin-top: 20px;
}

.submit-btn{
    position: absolute;
    background-color: #9fac9c;
    border: none;
    padding: 15px;
    width: 200px;
    margin-top: 10px;
    margin-left: 1050px;
}

#error-txt{
    margin-left: 80px;
    margin-top: 30px;
    width: 500px;
    font-size: 20px;
    letter-spacing: 2px;
}