#section2{
    height: 110vh;
}

.section2-links{
    position: absolute;
    margin-top: -50px;
    margin-left: 800px;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.section2-btn{
    position: absolute;
    background-color: #9fac9c;
    border: none;
    padding: 15px;
    width: 200px;
    margin-top: 470px;
    margin-left: 50px;
}


.section2-btn a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'PT Serif', serif;
}
.tablinks{
    border: none;
    background-color: #efefea;
    font-size: 20px;
    font-family: 'PT Serif', serif;
    letter-spacing: 2px;
}
.tabcontent{
    display: none;
    border-top: none;
}

.section2-title{
    margin-top: 80px;
    text-align: left;
    margin-left: 35px;
    font-size: 36px;
    font-weight: bolder;
}
.section2-text{
    width: 80%;
    margin-left: 80px;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 50px;
}

.section2-video1{
    background-color: #879184;
    width: 854px;
    height: 480px;
    margin-left: 100px;
    margin-top: 50px;
}