.persoonlijk-container{
    background-color: white;
    height: 500px;
}
.persoonlijk-container h1{
    color: black;
    font-size: 30px;
    font-weight: lighter;
    padding-left: 50px;
    padding-top: 50px;
}
.persoonlijk-container p{
    color: black;
    padding-left: 100px;
    width: 300px;
}
.persoonlijk-colorblock{
    background-color: #abc0a4;
    position: absolute;
    height: 500px;
    width: 530px;
    margin-top: -369px;
    margin-left: 900px;
}

.persoonlijk-colorblock2{
    background-color: #cce0c5;
    position: absolute;
    height: 500px;
    width: 600px;
    margin-top: -369px;
    margin-left: 500px;
}

.persoonlijk-werk1{
    background-color: #879184;
    position: absolute;
    height: 120px;
    width: 250px;
    margin-top: 100px;
    margin-left: 50px;
}

.persoonlijk-werk2{
    background-color: #879184;
    position: absolute;
    height: 120px;
    width: 250px;
    margin-top: 300px;
    margin-left: 250px;
}