.overmij_container{
    background: #abc0a4;
    height: 550px;
}
.overmij_container h1{
    padding-top: 40px;
    text-align: right;
    padding-right: 50px;
    font-size: 40px;
    font-weight: lighter;
    color: white;
}
.overmij_container p{
    color: white;
    width: 500px;
    padding-left: 50px;
    padding-top: 150px;
}

.img-overmij{
    background-color: #879184;
    width: 640px;
    height: 360px;
    margin-left: 750px;
    position: absolute;
}

.img-overmij1{
    background-color: #cce0c5;
    width: 100px;
    height: 100px;
    margin-left: 600px;
    position: absolute;
}

.img-overmij2{
    background-color: #cce0c5;
    width: 100px;
    height: 100px;
    margin-top: 150px;
    margin-left: 600px;
    position: absolute;
}

.img-overmij3{
    background-color: #cce0c5;
    width: 100px;
    height: 100px;
    margin-top: 300px;
    margin-left: 600px;
    position: absolute;
}

.img-goals1{
    background-color: white;
    margin-left: 70px;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50px;
}
.img-goals2{
    background-color: white;
    margin-left: 225px;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50px;
}

.img-goals3{
    background-color: white;
    margin-left: 380px;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50px;
}

#mijngoals{
    text-align: left;
    padding-left: 210px;
    margin-top: -110px;
    position: absolute;
    font-size: 30px;
}