.weer_container{
    background-color: #abc0a4;
    width: auto;
    margin-top: -80px;
    display: flex;
    flex-direction: row;
}

.weer_applicatie{
    width: 100%;
    height: 300px;
    margin-top: 50px;
}
#temp{
    color: white;
    margin-top: 130px;
    font-size: 20px;
    margin-left: 270px;
    position: absolute;
    text-align: right;
}
#conditie{
    color: white;
    margin-top: 100px;
    font-size: 20px;
    margin-left: 230px;
    position: absolute;
    text-align: right;
}
#locatie{
    color: white;
    margin-top: 55px;
    font-size: 40px;
    margin-left: 130px;
    width: 100px;
    position: absolute;
    text-align: right;
}

#search-bar{
    width: 150px;
    height: 20px;
    position: absolute;
    margin-top: 250px;
    margin-left: 270px;
    border: none;
    padding: 5px;
    text-align: center;
    color: #879184;
}
#search-btn{
    position: absolute;
    width: 75px;
    height: 30px;
    margin-top: 250px;
    margin-left: 440px;
    border: none;
    padding: 5px;
    text-align: center;
    background-color: #cce0c5;
    cursor: pointer;
}

#search-btn:hover{
    background-color: white;
}

/* Projecten uitleg */
.weer_uitleg{
    color: white;
    width: 80%;
    padding-top: 50px;
    padding-right: 70px;
    padding-left: 300px;
}

.weer_uitleg p{
    color: white;
}
.weer_uitleg h1{
    color: white;
    font-size: 30px;
    font-weight: lighter;
}


/* Dag applicatie */
.day_applicatie{
    width: 100%;
    height: 300px;
    position: absolute;
}
/* Dag applicatie uitputs*/
#clock{
    color: white;
    margin-top: 150px;
    font-size: 20px;
    margin-left: 510px;
    position: absolute;
}

#date{
    color: white;
    margin-top: 180px;
    font-size: 20px;
    margin-left: 510px;
    width: 150px;
    position: absolute;
}

#timeOfDay{
    color: white;
    margin-top: 105px;
    font-size: 40px;
    margin-left: 510px;
    width: 100px;
    position: absolute;
}