#section4{
    height: 100vh;
}

.section4-title{
    margin-top: 80px;
    text-align: left;
    margin-left: 35px;
    font-size: 36px;
    font-weight: bolder;
}

.section4-text{
    margin-left: 80px;
    margin-top: 80px;
    width: 500px;
    font-size: 20px;
    letter-spacing: 2px;
}

.section4-img-cv{
    width: 550px;
    height: 700px;
    margin-left: 55%;
    margin-top: -450px;
    position: absolute;
    background-color: #879184;
}