.cv-container{
    background-color: #abc0a4;
    height: 450px;
    margin-top: -1px;
}

.cv-container h1{
    color: white;
    font-size: 40px;
    font-weight: lighter;
    padding-left: 400px;
    padding-top: 50px;
}

.cv-container p{
    color: white;
    padding-left: 100px;
    width: 700px;
}
.cv-img{
    width: 300px;
    position: absolute;
    margin-top: -100px;
    margin-left: 950px;
}