body {
    font-family: 'Playfair Display', serif;
    background-color: rgb(243, 247, 243);
}
body p{
    font-family: 'PT Serif', serif;
}

header{
    height: 100%;
    background-color: #879184;
    margin: -10px;
    margin-top: -20px;
    padding: 0;
    color: white;
    width: 105vw;
}
.navbar{
    padding: 0;
    width: 50%;
    margin: 0;
    padding-top: 10px;
    border: 0;
    float: right;
    margin-right: 5%;
}

.header-links{
    list-style: none;
    padding-top: 10px;
}
.header-links ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.header-links li{
    float: right;
}

.header-links li a{
    display: block;
    padding: 5px;
    margin-top: 5px;
    text-decoration:none;
    color: white;
    font-size: 23px;
}

.header-text{
    margin-top: -10px;
    margin-left: 20px;
    padding-top: 500px;
    font-size: 50px;
    font-weight: bolder;
}

.header-bottomtext{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    width: 300px;
    font-weight: lighter;
    font-family: 'Bodoni Moda', serif;
}

.header-button{
    background-color: #9fac9c;
    border: none;
    padding: 15px;
    width: 200px;
    margin-top: 10px;
    margin-left: 200px;
}

.header-button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'PT Serif', serif;
}

.logo{
    position: absolute;
    background-color: white;
    color: black;
    width: 85px;
    height: 130px;
    font-size: 30px;
    margin-left: 50px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}