#section2{
    height: 1000px;
    width: 100vw;
}

.section2-links{
    margin-top: -30px;
    margin-left: -10px;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.tablinks{
    border: none;
    background-color: rgb(243, 247, 243);
    font-size: 15px;
    font-family: 'PT Serif', serif;
}

.section2-btn{
    background-color: #9fac9c;
    border: none;
    padding: 15px;
    width: 150px;
    margin-left: -150px;
}

.section2-btn a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'PT Serif', serif;
}


.tabcontent{
    display: none;
    border-top: none;
}

.section2-title{
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
    font-size: 36px;
    font-weight: bolder;
}
.section2-text{
    width: 300px;
    margin-left: 10px;
    font-size: 20px;
}

.section2-video1{
    background-color: #879184;
    width: 300px;
    height: 190px;
    margin-left: 15px;
    margin-top: 30px;
}